body {
    background-image: url("./im1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
  

.content {
grid-area: content;
display: flex;
flex-direction: column;  
justify-content: center;
align-items: center;
height: 100%;
}

.lobby {
margin-bottom: 2rem;  /* Add spacing between lobby heading and card */
}

.card {
background-color: rgb(255, 255, 255);
padding: 2rem;
border-radius: 10px;
}